@mixin button-style($color, $amount) {
  background-color: inherit;
  border: 2px solid $color;
  color: darken($color, $amount);
  transition: color 0.1s ease,
              border 0.2s ease,
              background 0.2s ease-in-out;

  &:active {
    background-color: lighten($color, $amount);
    border-color: lighten($color, $amount);
    color: #fff !important;
  }
  &:hover {
    color: darken($color, 15%);
  }
  &:focus {
    outline: none;
    border-color: darken($color, 15%);
  }
}

.btn {
  outline: none !important;
  padding: 8px 32px;
  border-radius: 32px;
  border: 2px solid $cloud-gray;
  background-color: #fff;
  font-weight: 600;
  transition: color 0.1s ease,
              border 0.15s ease,
              background 0.2s ease-in-out;
  &:active {
    box-shadow: none;
    background-color: lighten($cloud-gray, 5%);
    border-color: lighten($cloud-gray, 5%);
  }
  &.btn-primary {
    @include button-style($primary-blue, 5%);
  }
  &.btn-success {
    @include button-style($green, 5%);
  }
  &.btn-info {
    @include button-style($skyblue, 5%);
  }
  &.btn-warning {
    @include button-style($primary-orange, 5%);
  }
  &.btn-danger {
    @include button-style($red-rose, 5%);
  }
  &.btn-link {
    border: none;
  }
}
