.form-control {
  border-color: darken(#fff, 7.5%);
  background-color: #fff;
  padding: 12px 10px;
  box-shadow: none;
  height: auto;

  &:focus {
    border-color: $secondary-blue;
    box-shadow: none;
  }
  &::-webkit-input-placeholder {
    font-weight: 600;
    color: $cloud-gray;
  }
  &::-moz-placeholder {
    font-weight: 600;
    color: $cloud-gray;
  }
}
