body {
    font-family: $font-1;
    font-size: 14px;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $font-color-1;
    background-color: $bg;
}

h1.h1, h2.h2, h3.h3 {
    color: $font-color-2 !important;
}

h4.h4, h5.h5, h6.h6 {
    color: $font-color-1 !important;
}

.btn-icon {
  position: relative;
  border: 0;
  background: transparent;
  display: inline-block;
  > i.icon {
    color: inherit;
  }
}
