$font-1 : 'Nunito', sans-serif;
$font-2 : 'Nunito Sans', sans-serif;

// cool colors
$primary-blue   : #1f49ff;
$secondary-blue : #1c78e8;
$skyblue        : #2cc2ff;
$teal           : #1ce3e8;
$cyan           : #1fffc5;
$green          : #65dc91;

// warm colors
$primary-orange      : #ff9637;
$secondary-orange    : #e86e32;
$tertiary-orange     : #ff6644;
$red-rose            : #e83932;
$pink-rose           : #ff3781;

// light colors
$bg: #f7faff;
$bg-sidebar: #25344A;
$cloud-gray: #d7d7d7;

// dark colors
$dark-gray: #333d45;
$dusk-gray: #1e3444;

// font color
$font-color-1: $dark-gray;
$font-color-2: $dusk-gray;
