= render "shareds/sidebar"
.main-content#subjects
  .container-fluid
    .row
      .col-md-9
        %header.header.clearfix
          %h3.pull-left
            Exam for
            = @subject.title
    .row
      .col-md-9
        #create-exam{"data-subject-id"=> params[:subject_id]}
        = javascript_pack_tag 'create_exam'
